@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    ViewData["Action"] = "Register";
    ViewData["Name"] = "Регистрация";
}

<partial name="_NavbarPartial" view-data="ViewData" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Создайте свой аккаунт.</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Login"></label>
                    <input asp-for="Input.Login" class="form-control" />
                    <span asp-validation-for="Input.Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form><br />
            Регистрируясь, Вы соглашаетесь с условиями &nbsp;
            <a asp-area="" asp-controller="Home" asp-action="Privacy"
               style="text-decoration:none">Пользовательское соглашение</a>
        </div>      
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
