@{
    ViewData["Title"] = "Home Page";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 ">
        <div class="container">
            <a class="navbar-chats" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight:600">Chats</a>
            &nbsp;&nbsp;&nbsp;
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Темы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Android</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h2 style="text-align:center">Темы для чата</h2>
<div style="display: block; margin: auto; width : 8cm;">
    <button type="button" class="btn btn-topics">Друзья</button>
    <button type="button" class="btn btn-topics">Политика</button>
    <button type="button" class="btn btn-topics">Любовь и отношения</button>
    <button type="button" class="btn btn-topics">Секс</button>
    <button type="button" class="btn btn-topics">Деньги и финансы</button>
    <button type="button" class="btn btn-topics">Мечты</button>
    <button type="button" class="btn btn-topics">Отпуск и отдых</button>
    <button type="button" class="btn btn-topics">Мода и стили</button>
    <button type="button" class="btn btn-topics">Кино</button>
    <button type="button" class="btn btn-topics">Музыка</button>
    <button type="button" class="btn btn-topics">События и праздники</button>
    <button type="button" class="btn btn-topics">Спорт</button>
    <button type="button" class="btn btn-topics">Футбол</button>
    <button type="button" class="btn btn-topics">Хобби</button>
    <button type="button" class="btn btn-topics">Учёба</button>
    <button type="button" class="btn btn-topics">Еда и блюда</button>
    <button type="button" class="btn btn-topics">Искусство</button>
    <button type="button" class="btn btn-topics">Машины и мотоциклы</button>
    <button type="button" class="btn btn-topics">Мода и стили</button>
    <button type="button" class="btn btn-topics">Работа и бизнес</button>
    <button type="button" class="btn btn-topics">Медицина</button>
</div>