@using Chats.Models
@model IEnumerable<Topics>
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 ">
        <div class="container">
            <a class="navbar-chats" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight:600">Chats</a>
            &nbsp;&nbsp;&nbsp;
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Темы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Android</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="row">
        <div class="col-12">
            <div style="height: 8cm; background: url(/images/firstpicture.jpg) no-repeat" />
        </div>
        <div class="col-12">
            <h3 style="text-align:center;">Темы для чата</h3>
            <div style="display: block; margin:auto; width : 7cm;">
                @foreach (Topics p in Model)
                {
                    <button type="button" class="btn btn-topics" onclick="location.href='@Url.Action("Search","Search",  new { id = @p.Id })'">@p.Topic</button>
                }
            </div>
        </div>
    </div>


