@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Action"] = "Privacy";
    ViewData["Name"] = "Политика конфиденциальности";
}

<partial name="_NavbarPartial" view-data="ViewData" />
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>